In [78]:
import pandas as pd
import numpy as np

In [79]:
df = pd.read_csv('../data/20171019_HalloweenCostumesbyState_Frightgeist.csv', sep = ',')

In [80]:
df = df.drop(0, axis = 0).drop(1, axis = 0).drop(2, axis = 0)

In [81]:
nuevas_columnas_1 = {col: col.replace(" ", "_").lower() for col in df.columns}

In [82]:
df.rename(columns = nuevas_columnas_1, inplace = True)

In [83]:
df

,most_searched_costume_by_state_,unnamed:_1,unnamed:_2,unnamed:_3,unnamed:_4,unnamed:_5
3,Alaska,Ninja,Monster,Wonder Woman,Clown,Rabbit
4,Alabama,Wonder Woman,Harley Quinn,Mouse,Superhero,Clown
5,Arkansas,Clown,Harley Quinn,Unicorn,Pirate,Wonder Woman
6,Arizona,Wonder Woman,Clown,Moana,Rabbit,Unicorn
7,California,Wonder Woman,Clown,Unicorn,Harley Quinn,Rabbit
8,Colorado,Wonder Woman,Harley Quinn,Rabbit,Dinosaur,Unicorn
9,Connecticut,Wonder Woman,Rabbit,Witch,Unicorn,Zombie
10,District of Columbia,Harley Quinn,Wonder Woman,Zombie,Clown,Unicorn
11,Delaware,IT,Harley Quinn,Monster,Clown,Mouse
12,Florida,Wonder Woman,Harley Quinn,Moana,Clown,Unicorn
13,Georgia,Harley Quinn,Wonder Woman,Clown,Rabbit,Unicorn
14,Hawaii,Wonder Woman,Doll,Dinosaur,Princess Jasmine,Moana
15,Iowa,Wonder Woman,Clown,Harley Quinn,Unicorn,Ninja
16,Idaho,Rabbit,Wonder Woman,Dinosaur,Mouse,Unicorn
17,Illinois,Wonder Woman,Harley Quinn,Clown,Unicorn,Dinosaur
18,Indiana,Dinosaur,Harley Quinn,Clown,Wonder Woman,Witch
19,Kansas,Wonder Woman,Clown,Harley Quinn,Pirate,Witch
20,Kentucky,Clown,Wonder Woman,Harley Quinn,Zombie,Belle
21,Louisiana,Wonder Woman,Witch,Harley Quinn,Clown,Rabbit
22,Massachusetts,Wonder Woman,Rabbit,Unicorn,Zombie,Harley Quinn
23,Maryland,Wonder Woman,Harley Quinn,Unicorn,Rabbit,Pirate
24,Maine,Superhero,Witch,Batman,Skeleton,Rabbit
25,Michigan,Wonder Woman,Harley Quinn,Clown,Unicorn,Rabbit
26,Minnesota,Zombie,Harley Quinn,Unicorn,Wonder Woman,Rabbit
27,Missouri,Clown,Wonder Woman,Witch,Harley Quinn,Unicorn
28,Mississippi,Mouse,Clown,Harley Quinn,Cheerleader,Wonder Woman
29,Montana,Dinosaur,Harley Quinn,Zombie,Vikings,IT
30,North Carolina,Wonder Woman,Harley Quinn,Unicorn,Clown,Pirate
31,North Dakota,Unicorn,Chicken,Batman,Lion,IT
32,Nebraska,Wonder Woman,Clown,Harley Quinn,Unicorn,Superhero
33,New Hampshire,Rabbit,Harley Quinn,Clown,Star Wars,Dinosaur
34,New Jersey,Wonder Woman,Harley Quinn,Unicorn,Rabbit,Zombie
35,New Mexico,Harley Quinn,Clown,Unicorn,Chucky,Doll
36,Nevada,Wonder Woman,Clown,Harley Quinn,Chucky,Mouse
37,New York,Wonder Woman,Clown,Harley Quinn,Unicorn,Rabbit
38,Ohio,Harley Quinn,Wonder Woman,Clown,Witch,Unicorn
39,Oklahoma,Wonder Woman,Harley Quinn,Clown,Zombie,Witch
40,Oregon,Unicorn,Witch,Wonder Woman,Dinosaur,Mouse
41,Pennsylvania,Harley Quinn,Wonder Woman,Clown,Zombie,Unicorn
42,Rhode Island,Witch,Wonder Woman,Chicken,Zombie,Unicorn
43,South Carolina,Harley Quinn,Wonder Woman,Clown,Pirate,Rabbit
44,South Dakota,Witch,Clown,Scary Clown,Unicorn,Princess
45,Tennessee,Wonder Woman,Harley Quinn,Clown,Witch,Mouse
46,Texas,Wonder Woman,Harley Quinn,Clown,Unicorn,Moana
47,Utah,Witch,Wonder Woman,Pirate,Clown,Dinosaur
48,Virginia,Wonder Woman,Harley Quinn,Rabbit,Clown,Princess
49,Vermont,Catwoman,Dinosaur,The Wizard of Oz,Rabbit,Unicorn
50,Washington,Wonder Woman,Dinosaur,Harley Quinn,Witch,Unicorn
51,Wisconsin,Zombie,Pirate,Dinosaur,Wonder Woman,Unicorn
52,West Virginia,Clown,Harley Quinn,Doll,Witch,Zombie
53,Wyoming,Joker,Starbucks,Clown,Queen of Hearts,Dinosaur

In [84]:
nuevas_columnas_2 = {'most_searched_costume_by_state_' : 'State',
                    'unnamed:_1' : 'First Place',
                    'unnamed:_2' : 'Second Place',
                    'unnamed:_3' : 'Third Place',
                    'unnamed:_4' : 'Fourth Place',
                    'unnamed:_5' : 'Fifth Place',
                    }

In [85]:
df.rename(columns = nuevas_columnas_2, inplace = True)

In [86]:
df_nuevo = df.drop(['State'], axis = 1)

In [87]:
lista_disfraces = []

In [88]:
for indice, fila in df_nuevo.iterrows():
        lista_disfraces.append(fila[0])
        lista_disfraces.append(fila[1])
        lista_disfraces.append(fila[2])
        lista_disfraces.append(fila[3])
        lista_disfraces.append(fila[4])

/tmp/ipykernel_4377/3083327907.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  lista_disfraces.append(fila[0])
/tmp/ipykernel_4377/3083327907.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  lista_disfraces.append(fila[1])
/tmp/ipykernel_4377/3083327907.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  lista_disfraces.append(fila[2])
/tmp/ipykernel_4377/3083327907.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  lista_disfraces.append(fila[3])
/tmp/ipykernel_4377/3083327907.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  lista_disfraces.append(fila[4])

In [89]:
lista_disfraces

['Ninja',
 'Monster',
 'Wonder Woman',
 'Clown',
 'Rabbit',
 'Wonder Woman',
 'Harley Quinn',
 'Mouse',
 'Superhero',
 'Clown',
 'Clown',
 'Harley Quinn',
 'Unicorn',
 'Pirate',
 'Wonder Woman',
 'Wonder Woman',
 'Clown',
 'Moana',
 'Rabbit',
 'Unicorn',
 'Wonder Woman',
 'Clown',
 'Unicorn',
 'Harley Quinn',
 'Rabbit',
 'Wonder Woman',
 'Harley Quinn',
 'Rabbit',
 'Dinosaur',
 'Unicorn',
 'Wonder Woman',
 'Rabbit',
 'Witch',
 'Unicorn',
 'Zombie',
 'Harley Quinn',
 'Wonder Woman',
 'Zombie',
 'Clown',
 'Unicorn',
 'IT',
 'Harley Quinn',
 'Monster',
 'Clown',
 'Mouse',
 'Wonder Woman',
 'Harley Quinn',
 'Moana',
 'Clown',
 'Unicorn',
 'Harley Quinn',
 'Wonder Woman',
 'Clown',
 'Rabbit',
 'Unicorn',
 'Wonder Woman',
 'Doll',
 'Dinosaur',
 'Princess Jasmine',
 'Moana',
 'Wonder Woman',
 'Clown',
 'Harley Quinn',
 'Unicorn',
 'Ninja',
 'Rabbit',
 'Wonder Woman',
 'Dinosaur',
 'Mouse',
 'Unicorn',
 'Wonder Woman',
 'Harley Quinn',
 'Clown',
 'Unicorn',
 'Dinosaur',
 'Dinosaur',
 'Harley Quinn',
 'Clown',
 'Wonder Woman',
 'Witch',
 'Wonder Woman',
 'Clown',
 'Harley Quinn',
 'Pirate',
 'Witch',
 'Clown',
 'Wonder Woman',
 'Harley Quinn',
 'Zombie',
 'Belle',
 'Wonder Woman',
 'Witch',
 'Harley Quinn',
 'Clown',
 'Rabbit',
 'Wonder Woman',
 'Rabbit',
 'Unicorn',
 'Zombie',
 'Harley Quinn',
 'Wonder Woman',
 'Harley Quinn',
 'Unicorn',
 'Rabbit',
 'Pirate',
 'Superhero',
 'Witch',
 'Batman',
 'Skeleton',
 'Rabbit',
 'Wonder Woman',
 'Harley Quinn',
 'Clown',
 'Unicorn',
 'Rabbit',
 'Zombie',
 'Harley Quinn',
 'Unicorn',
 'Wonder Woman',
 'Rabbit',
 'Clown',
 'Wonder Woman',
 'Witch',
 'Harley Quinn',
 'Unicorn',
 'Mouse',
 'Clown',
 'Harley Quinn',
 'Cheerleader',
 'Wonder Woman',
 'Dinosaur',
 'Harley Quinn',
 'Zombie',
 'Vikings',
 'IT',
 'Wonder Woman',
 'Harley Quinn',
 'Unicorn',
 'Clown',
 'Pirate',
 'Unicorn',
 'Chicken',
 'Batman',
 'Lion',
 'IT',
 'Wonder Woman',
 'Clown',
 'Harley Quinn',
 'Unicorn',
 'Superhero',
 'Rabbit',
 'Harley Quinn',
 'Clown',
 'Star Wars',
 'Dinosaur',
 'Wonder Woman',
 'Harley Quinn',
 'Unicorn',
 'Rabbit',
 'Zombie',
 'Harley Quinn',
 'Clown',
 'Unicorn',
 'Chucky',
 'Doll',
 'Wonder Woman',
 'Clown',
 'Harley Quinn',
 'Chucky',
 'Mouse',
 'Wonder Woman',
 'Clown',
 'Harley Quinn',
 'Unicorn',
 'Rabbit',
 'Harley Quinn',
 'Wonder Woman',
 'Clown',
 'Witch',
 'Unicorn',
 'Wonder Woman',
 'Harley Quinn',
 'Clown',
 'Zombie',
 'Witch',
 'Unicorn',
 'Witch',
 'Wonder Woman',
 'Dinosaur',
 'Mouse',
 'Harley Quinn',
 'Wonder Woman',
 'Clown',
 'Zombie',
 'Unicorn',
 'Witch',
 'Wonder Woman',
 'Chicken',
 'Zombie',
 'Unicorn',
 'Harley Quinn',
 'Wonder Woman',
 'Clown',
 'Pirate',
 'Rabbit',
 'Witch',
 'Clown',
 'Scary Clown',
 'Unicorn',
 'Princess',
 'Wonder Woman',
 'Harley Quinn',
 'Clown',
 'Witch',
 'Mouse',
 'Wonder Woman',
 'Harley Quinn',
 'Clown',
 'Unicorn',
 'Moana',
 'Witch',
 'Wonder Woman',
 'Pirate',
 'Clown',
 'Dinosaur',
 'Wonder Woman',
 'Harley Quinn',
 'Rabbit',
 'Clown',
 'Princess',
 'Catwoman',
 'Dinosaur',
 'The Wizard of Oz',
 'Rabbit',
 'Unicorn',
 'Wonder Woman',
 'Dinosaur',
 'Harley Quinn',
 'Witch',
 'Unicorn',
 'Zombie',
 'Pirate',
 'Dinosaur',
 'Wonder Woman',
 'Unicorn',
 'Clown',
 'Harley Quinn',
 'Doll',
 'Witch',
 'Zombie',
 'Joker',
 'Starbucks',
 'Clown',
 'Queen of Hearts',
 'Dinosaur']

In [90]:
set_disfraces = set(lista_disfraces)
set_disfraces

{'Batman',
 'Belle',
 'Catwoman',
 'Cheerleader',
 'Chicken',
 'Chucky',
 'Clown',
 'Dinosaur',
 'Doll',
 'Harley Quinn',
 'IT',
 'Joker',
 'Lion',
 'Moana',
 'Monster',
 'Mouse',
 'Ninja',
 'Pirate',
 'Princess',
 'Princess Jasmine',
 'Queen of Hearts',
 'Rabbit',
 'Scary Clown',
 'Skeleton',
 'Star Wars',
 'Starbucks',
 'Superhero',
 'The Wizard of Oz',
 'Unicorn',
 'Vikings',
 'Witch',
 'Wonder Woman',
 'Zombie'}

In [91]:
dicc_disfraces = {}

for disfraz in lista_disfraces:
    dicc_disfraces[disfraz] = lista_disfraces.count(disfraz)

In [92]:
dicc_disfraces

{'Ninja': 2,
 'Monster': 2,
 'Wonder Woman': 41,
 'Clown': 35,
 'Rabbit': 19,
 'Harley Quinn': 37,
 'Mouse': 7,
 'Superhero': 3,
 'Unicorn': 31,
 'Pirate': 7,
 'Moana': 4,
 'Dinosaur': 13,
 'Witch': 15,
 'Zombie': 12,
 'IT': 3,
 'Doll': 3,
 'Princess Jasmine': 1,
 'Belle': 1,
 'Batman': 2,
 'Skeleton': 1,
 'Cheerleader': 1,
 'Vikings': 1,
 'Chicken': 2,
 'Lion': 1,
 'Star Wars': 1,
 'Chucky': 2,
 'Scary Clown': 1,
 'Princess': 2,
 'Catwoman': 1,
 'The Wizard of Oz': 1,
 'Joker': 1,
 'Starbucks': 1,
 'Queen of Hearts': 1}

In [93]:
dicc_disfraces = {}

for disfraz in lista_disfraces:
    dicc_disfraces[disfraz] = lista_disfraces.count(disfraz)

In [94]:
dicc_df = {'Costume' : list(dicc_disfraces.keys()),
        'Count' : list(dicc_disfraces.values())}

In [95]:
df_categorias = pd.DataFrame(dicc_df)

In [96]:
df_categorias.sort_values(by= 'Count', ascending = False, inplace = True)

In [97]:
def agrupar_categorias(elemento):

    characters = ['Batman','Belle','Catwoman','Chucky','Harley Quinn','IT','Joker','Moana','Princess Jasmine','Queen of Hearts','Wonder Woman','Star Wars','The Wizard of Oz']
    animals = ['Chicken','Dinosaur','Lion','Mouse','Rabbit','Unicorn']
    scary = ['Monster','Skeleton','Scary Clown','Witch','Zombie']
    occupations = ['Cheerleader','Clown','Ninja','Pirate','Princess','Vikings','Superhero']

    if elemento in characters:
        return 'Characters and Movies'
    
    elif elemento in animals:
        return 'Animals'
    
    elif elemento in scary:
        return 'Scary Costumes'

    elif elemento in occupations:
        return 'Occupations'    
    
    else:
        return 'Others'

In [98]:
df_categorias['Category'] = df_categorias['Costume'].apply(agrupar_categorias)

In [99]:
df_categorias

             Costume  Count               Category
2       Wonder Woman     41  Characters and Movies
5       Harley Quinn     37  Characters and Movies
3              Clown     35            Occupations
8            Unicorn     31                Animals
4             Rabbit     19                Animals
12             Witch     15         Scary Costumes
11          Dinosaur     13                Animals
13            Zombie     12         Scary Costumes
6              Mouse      7                Animals
9             Pirate      7            Occupations
10             Moana      4  Characters and Movies
7          Superhero      3            Occupations
14                IT      3  Characters and Movies
15              Doll      3                 Others
18            Batman      2  Characters and Movies
27          Princess      2            Occupations
22           Chicken      2                Animals
0              Ninja      2            Occupations
1            Monster      2         Scary Costumes
25            Chucky      2  Characters and Movies
31         Starbucks      1                 Others
30             Joker      1  Characters and Movies
29  The Wizard of Oz      1  Characters and Movies
28          Catwoman      1  Characters and Movies
26       Scary Clown      1         Scary Costumes
16  Princess Jasmine      1  Characters and Movies
24         Star Wars      1  Characters and Movies
23              Lion      1                Animals
21           Vikings      1            Occupations
20       Cheerleader      1            Occupations
19          Skeleton      1         Scary Costumes
17             Belle      1  Characters and Movies
32   Queen of Hearts      1  Characters and Movies

In [120]:
dicc_leyenda = {'leyenda' : ['Wonder Woman', 'Harley Quinn', 'Clown', 'Witch', 'Others']}

In [121]:
df_leyenda = pd.DataFrame(dicc_leyenda)

In [122]:
df_leyenda

        leyenda
0  Wonder Woman
1  Harley Quinn
2         Clown
3         Witch
4        Others

In [123]:
df_categorias.to_csv('../data/halloween_categories.csv')
df.to_csv('../data/halloween.csv')
df_leyenda.to_csv('../data/halloween_leyenda.csv')